.log-in {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.log-in .back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

.log-in .log {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 95%;
  height: 50%;
  padding: 0 10px;
}

.log-in .log h1 {
  font-size: 3rem;
  font-weight: lighter;
  text-transform: capitalize;
}

.log-in .log input {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border: 2.5px solid black;
  text-indent: 10px;
}

.log-in .log .btn-next {
  width: 100%;
  height: 50px;
  transition: background-color 400ms;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.log-in .log .btn-next:active {
  color: #000;
  background-color: #fff;
}

.log-in .log .errorStyleShow {
  display: block;
  color: #ff4949;
  border-radius: 8px;
  margin-bottom: 13px;
  font-size: 0.8em;
}

.log-in .log .forget-register {
  text-align: center;
  margin-top: 2rem;
}

.mobile-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  border-top: 1px solid gray;
  background-color: white;
}

.mobile-navbar ul {
  text-align: center;
}

.mobile-navbar ul li {
  display: inline-block;
  line-height: 74px;
}

.mobile-navbar ul li .navlink {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.mobile-navbar ul li .btn-plus {
  position: relative;
  bottom: 5px;
  width: 80px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  background-image: linear-gradient(30deg, #ff6f00, #ff6f00, #fb5571, #ff6f00, #fb5571, #ff6f00, #fb5571, #ff6f00, #fb5571, #ff6f00, #fb5571, #ff6f00, #fb5571, #ff6f00, #ff6f00);
  background-size: 400px;
  color: white;
  font-size: 1.3rem;
  border: none;
  border-radius: 20px;
  animation: navbarColorsBtn 20s infinite;
}

.mobile-navbar ul li .btn-plus .plus {
  margin-top: 11px;
}

@keyframes navbarColorsBtn {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.mobile-navbar .underline {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 7px;
  border-radius: 5px;
  background-color: #000;
}

.register {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.register .reg {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 95%;
  height: 50%;
  padding: 0 10px;
}

.register .reg h1 {
  font-size: 3rem;
  font-weight: lighter;
  text-transform: capitalize;
}

.register .reg input {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border: 2.5px solid black;
  text-indent: 10px;
}

.register .reg .btn-next {
  width: 100%;
  height: 50px;
  transition: background-color 400ms;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.register .reg .btn-next:active {
  color: #000;
  background-color: #fff;
}

.register .reg .errorStyleShow {
  display: block;
  color: #ff4949;
  border-radius: 8px;
  margin-bottom: 13px;
  font-size: 0.8em;
}

.register .reg .have-account {
  text-align: center;
  margin-top: 2rem;
}

.register .back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.home .logo {
  background: #002423;
  background: linear-gradient(90deg, #002423 0%, #067fad 31%, #092d79 51%, #00d4ff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 82vh;
  color: white;
}

.home .login-reg-button {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.home .login-reg-button .btn-login {
  width: 49%;
  height: 50px;
  transition: background-color 400ms;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  border: solid 2.5px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.home .login-reg-button .btn-login:active {
  color: #fff;
  background-color: #000;
}

.home .login-reg-button .btn-register {
  width: 49%;
  height: 50px;
  transition: background-color 400ms;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.home .login-reg-button .btn-register:active {
  color: #000;
  background-color: #fff;
}

.profile-display {
  padding-top: 10vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-display .profile-picture-container {
  min-width: 100px;
  min-height: 100px;
  max-width: 250px;
  max-height: 250px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-display .profile-picture-container .profile-image {
  min-width: 150px;
  min-height: 150px;
  width: 15vw;
  height: 15vw;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.profile-display h2 {
  margin: 10px 0 5px 0;
}

.profile-display h6 {
  margin-bottom: 20px;
}

.profile-display button {
  max-width: 300px;
  width: 80vw;
  height: 5vh;
  margin-bottom: 8px;
}

.profile-display .follow-btn {
  background-color: black;
  color: white;
}

.profile-display .album {
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-display .album img {
  margin: 20px;
  width: 80vw;
  max-width: 300px;
  max-height: 375px;
}

.search-container {
  padding-top: 5vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container .semantic-input {
  margin-bottom: 5vh;
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border: 2.5px solid black;
  text-indent: 10px;
  max-width: 69vw;
}

.search-container .album {
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-container .album img {
  margin: 20px;
  width: 80vw;
  max-width: 300px;
  max-height: 375px;
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .box {
  text-align: center;
  padding: 1em;
}

.main-container .box .btn-login {
  height: 50px;
  transition: background 400ms;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  border: solid 2.5px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.main-container .box .btn-login:active {
  color: #fff;
  background-color: #000;
}

.profile-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.profile-form-container .profile-form {
  padding: 2em;
  width: 90vw;
}

.profile-form-container .profile-form .rowTab .labels {
  margin: 1em 0;
  font-size: 17px;
}

.profile-form-container .profile-form .rowTab .labels .btn-next {
  width: 100%;
  height: 50px;
  transition: background-color 400ms;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.profile-form-container .profile-form .rowTab .labels .btn-next:active {
  color: #000;
  background-color: #fff;
}

.profile-form-container .profile-form .rowTab .rightTab .input-field {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border: 2.5px solid black;
  text-indent: 10px;
}

.profile-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5em;
}

.profile-container .back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  position: static;
}

.profile-container .profile-settings-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  position: static;
  margin-top: 0.1em;
}

.profile-container .profile-settings-button a {
  color: black;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup .popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
  line-height: 2em;
  text-align: left;
}

.popup .close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.popup .upload-form .rowTab .labels {
  margin: 1em 0;
  font-size: 17px;
}

.popup .upload-form .rowTab .labels .btn-upload {
  width: 100%;
  height: 50px;
  transition: background-color 400ms;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.popup .upload-form .rowTab .labels .btn-upload:active {
  color: #000;
  background-color: #fff;
}

.popup .upload-form .rowTab .rightTab .input-field {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border: 2.5px solid black;
  text-indent: 10px;
}

.home-container {
  width: 100vw;
  height: auto;
  padding: 16px 16px 16px 16px;
  overflow: hidden;
}

.home-container__header {
  position: relative;
  margin: 10px 0 10px;
}

.home-container__header h1 {
  font-size: 1.6rem;
  font-weight: lighter;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.home-container__p-home {
  margin: 20px 0 4px;
}

.home-container__p-home p {
  font-size: 0.6rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0.6px 0 black;
  letter-spacing: 1px;
}

.full-card-section {
  width: 290px;
}

.full-card-section .photo {
  position: relative;
  margin-top: 20px;
}

.full-card-section .photo__toggle-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  color: white;
  text-shadow: 2px 2px 2px gray;
  transform: rotate(-45deg);
}

.full-card-section .photo img {
  width: 290px;
  height: 290px;
}

.full-card-section .profile {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
}

.full-card-section .profile__container--photo {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 7px;
}

.full-card-section .profile__container--photo img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.full-card-section .profile__container--user-data {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 50px;
  height: 40px;
  overflow: hidden;
}

.full-card-section .profile__container--user-data .full-name {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bolder;
}

.full-card-section .profile__container--user-data .username {
  margin: 0;
  font-size: 0.75rem;
  font-style: italic;
}

.full-card-section .icon-bar {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 50%;
  height: 50px;
  text-align: center;
}

.full-card-section .icon-bar__icon {
  margin: 10px 5px;
  width: 30px;
  height: 30px;
}

.full-card-section .description {
  width: 100%;
  padding: 2px 0;
}

.full-card-section .description__from-user .bold {
  font-weight: bold;
}

.full-card-section .comments {
  display: inline-block;
  width: 50%;
  font-size: 0.8rem;
  color: gray;
  text-transform: capitalize;
}

.full-card-section .likes {
  display: inline-block;
  width: 50%;
  font-size: 0.8rem;
  color: gray;
  text-transform: capitalize;
}

.full-card-section .users-comments {
  padding: 3px 0 3px 6px;
}

.full-card-section .users-comments p {
  margin: 0;
}

.full-card-section .comment-type {
  width: 100%;
}

.full-card-section .comment-type textarea {
  padding: 3px;
  border: 1px solid gray;
  border-radius: 10px;
}

:root {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}
