.mobile-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    border-top: 1px solid gray;
    
    ul{
      text-align: center;

      li{
        display: inline-block;
        line-height: 70px;

        a{
          display: block;
          padding: 0 15px;
          text-decoration: none;
          color: black;
          font-size: 1.4rem;
        }
        button{
          position: relative;
          bottom: 5px;
          width: 80px;
          height: 45px;
          line-height: 45px;
          background-image: linear-gradient(30deg, #ff6f00, #ff6f00, #fb5571, #ff6f00, #fb5571,#ff6f00, #fb5571, #ff6f00, #fb5571, #ff6f00, #fb5571,#ff6f00, #fb5571, #ff6f00, #ff6f00 );
          background-size: 400px;
          color: white;
          font-size: 1.3rem;
          border: none;
          border-radius: 20px;
          animation: navbarColorsBtn 20s infinite;
        }
      }
    }
  }
  
  @keyframes navbarColorsBtn {
    from {
        background-position: 0 0;
    }
  
    to {
        background-position: 100% 0;
    }
  }
  
  .mobile-navbar .underline {
    position: absolute;
    bottom: 2%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40vw;
    height: 7px;
    border-radius: 5px;
    background-color: #000;
    
  }