@use '../abstracts/index' as abstracts;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    line-height: 2em;
    text-align: left;
  }
  .close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  .upload-form {
    .rowTab {
      .labels {
        margin: 1em 0;
        font-size: 17px;
        .btn-upload {
          @include abstracts.btn-next;
        }
      }
      .rightTab {
        .input-field {
          @include abstracts.inputStyle;
        }
      }
    }
  }
}
