@use '../abstracts/index' as abstracts;

.profile-navbar {
  height: 60px;
  .mobileNavigation {
     display: none;
  }
  .profile-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5em;
    .back {
      @include abstracts.backButtonDiv;
      position: static;
    }
    .search-input{
      .input-bar-list{
        text-align: center;
      .search-list-appear{
        border: 0.5px solid lightgray;
        border-radius: 5px;
      .list-item{        
        .avatar{
          height: 40px;
          width: 40px;
          border-radius: 1000px;
        }

      }
      .list-item-text{
        button{
          list-style: none;
        }
      }
      .list-item:hover{
        cursor: pointer;
      }
    }

    .search-list-disappear{
      display: none;
    }
    }
  }
    .rightside {
      margin-right: -60px;
      display: flex;
      .profile-settings-button {
        @include abstracts.backButtonDiv;
        padding-right: 0.5em;
        position: static;
        a {
          display: flex;
          color: black;
        }
      }
      .logout-btn {
        @include abstracts.backButtonDiv;
        position: static;
        a {
          display: flex;
          color: black;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .profile-navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    .profile-container {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;
       // margin: 0 25px;
    }
    .navigation {
      display: none;
    }
    .mobileNavigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 0.8em;
      .profile-settings-button {
        @include abstracts.backButtonDiv;
        @include abstracts.mobile-profile-navbar-btnStyle;
        // padding: 0 1.7em 0 1.7em;
        padding: 5px 10px;
        margin: 0 .7em;
        border: none;
        a {
          display: flex;
          color: black;
          .settings-caption {
            @include abstracts.caption;
          }
        }
      }
      .logout-btn {
        @include abstracts.backButtonDiv;
        @include abstracts.mobile-profile-navbar-btnStyle;
        // padding: 0 1.8em 0 1.8em;
        padding: 5px 10px;
        margin: 0;
        border: none;
        a {
          display: flex;
          color: black;
          .logout-caption {
            @include abstracts.caption;
          }
        }
      }

      .back {
        @include abstracts.backButtonDiv;
        position: static;
        // padding-top: 0.1em;
      }
      .hamburger {
        cursor: pointer;
        font-size: 33px;
        color: black;
      }
      .hamburger2 {
        cursor: pointer;
        font-size: 33px;
        color: black;
        // margin-top: -15px;
      }
    }
  }
  .ui.icon.input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5em .2em !important;
    margin-right: 10px;
    
  }
}

