@use '../abstracts/index' as abstracts;

.profile-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  .profile-form {
    padding: 2em 2em 6em 2em;
    width: 90vw;
    .rowTab {
      .labels {
        margin: 1em 0;
        font-size: 17px;
        .btn-next {
          @include abstracts.btn-next;
        }

        .rightTab {
          .input-field {
            @include abstracts.inputStyle;
          }
        }
      }
    }
  }
}